.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    padding-top: 60px;
}

article {
    width: 65%; 
    max-width: 750px;
}

.card {
    width: 70%; 
    max-width: 800px;
}

main {
    position: relative;
    top: 80px;
}
.socials {
    max-height: 30px;
    padding-right: 10px;
    float: right;
}