.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto;
    padding-top: 60px;
}

article {
    width: 65%; 
    max-width: 750px;
}

.card {
    width: 90%;
}

main {
    position: relative;
    top: 80px;
    width: 98%;
}
.socials {
    max-height: 30px;
    padding-right: 10px;
    float: right;
}
a {
    color: slategray;
}
a:hover {
    color: black;
}